body{
	position:relative;
	font-family: Arial;
}
header{
	padding-top:40px;
	padding-bottom: 40px;
}
.logoCues{
	display:inline-grid;
}
.logoCues img{
	width:34%;
	margin-left:5%;
}
.navbar-nav{
	float: right;
	font-family:Arial;
	width: 82%;	
}
.navbar-inverse .navbar-nav>li>a{
	color:#FFFFFF;
	font-size: 22px;
}
.navbar-inverse .navbar-nav>.active>a{
	background-color: #ffffff;
    border-radius: 9px;
    color: #C43A30;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:3%;
}
.navbar-inverse .navbar-nav>.active>a:hover{
	background-color:#C43A30;
	color:#ffffff;
}
.navbar-inverse .navbar-nav>li>a:hover{
	background-color: #ffffff;
    border-radius: 9px;
    color: #C43A30;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 3%;
}
.navbar-inverse .navbar-nav>a:focus{
	background-color: #ffffff;
    border-radius: 9px;
    color: #C43A30;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:3%;
}
.navbar-nav li{
	margin-right:4%;
}
.navbar{
	margin-bottom:0px;
}
.navbar-inverse{
	background: transparent;
	border-color: transparent;
}
.navbar-static-top{
	position: absolute;
	width:100%;
	margin-top:0%;
	background-color:#C43A30;
	opacity:.8;
}
.carousel-control .glyphicon-chevron-right{
	font-size:40px;
}
.carousel-control .glyphicon-chevron-left{
	font-size:40px;
}

/*=====Contact Bar=====*/
.contactBar{
	position: absolute;
    z-index: 2;
    float: right;
    right: 0%;
    display: grid;
    width: 3%;
    background-color: #fff;
    opacity: .7;
    margin-top: 20%;
    border-radius: 5px 0px 0px 5px;
}
.contactBar img{
	width: 70%;
    margin-left: 16%;
    margin-bottom: 20%;
    margin-top:10%;
}

.contactBar img:hover{
}
/*=====Information index=====*/
.cues_information .cues_information_container{
	width: 100%;
    margin-top: 4%;
}
.cues_information_container h1{
	color:#C43A30;
	font-family:Arial;
	text-align:center;
	margin-top:8%;
}
.cues_information_container p{
	font-size:16px;
	font-family:Arial;
	text-align:justify;
	margin-right:5%;
	margin-top:10%;
	margin-left: 5%;
}
.cues_information_container img{
	width:100%;
}
.cues_information_img{
	padding-right:0px;
} 
.cues_information_col{
	padding-left:0px;
    padding-right:0px;
}
/*=====Gallery index=====*/
.cues_gallery_container{
	width: 100%;
    margin-top: 5%;
    background-color: #EEEEEE;
    padding-top: 5%;
    padding-bottom: 5%;
}
.cues_gallery_container img{
	width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 29%;
}
.cues_gallery_container h2{
	font-size: 25px;
    color: #C43A30;
    text-align: center;
    font-weight: 600;
}
.cues_gallery_container .verMas{
	font-family: Arial;
    font-size: 20px;
    color: #968B89;
    border-style: none;
    background: none;
    margin-left: 41%;
}
.mapa{
    margin-top:5%;
    margin-left:0px;
    margin-right: 0px;
    margin-bottom: 5%;
}
.mapa img{
	width:100%;
}
.mapa_container{
	padding-left:0px;
	padding-right:0px;
}
.cues_promo_container{
	padding-left:0px;
	padding-right:0px;
}
.cues_promo{
	margin-left:0px;
    margin-right: 0px;
    margin-bottom:5%;
}
.cues_promo_container h1{
	font-family: Arial;
    color: #C43A30;
    text-align: center;
}
/*=====Formulario=====*/
.cues_contact{
	color:#FFFFFF;
	margin-top:5%;
	background: url("../img/AdobeStock_101077810_WM.jpeg");
    background-size:100% 600px;
    background-repeat: no-repeat;
}
.cues_contact2{
	color:#C43A30;
	margin-top:5%;
    background-size:100% 600px;
    background-repeat: no-repeat;
}
.cues_contact_container{
	background-color:#C43A30;
	opacity:.9; 
	z-index:2;
	height:600px;
	width:100%;
}
.cues_contact_container2{
	background-color:#ffffff;
	opacity:.9; 
	z-index:2;
	height:600px;
	width:100%;
}
.cues_icon{
	display: grid;
	margin-top:5%;
}
.cues_icon i{
	margin-bottom:70px;
}
.cues_text_cont{
	margin-top:6%;
	font-size:18px;
}
.cues_text_cont p{
	margin-bottom:17%;
}
.cues_contact_title{
	letter-spacing: 5px;
    margin-left: 10%;
    margin-top: 10%;
}
.cues_form{
	margin-top:17%;
}
/*=====Clusters page=====*/
.cues_clusters{
    background: url("../img/information.png");
    background-size:100% 530px;
    background-repeat: no-repeat;
    height: 530px;
    width:auto;
}
.cues_clustersinfo .cues_clustersinfo_container{
	width: 100%;
    margin-top: 0%;
}
.cues_clustersinfo_container h1{
	color:#C43A30;
	font-family:Arial;
	text-align:center;
	margin-top:8%;
	font-weight:600;
}
.cues_clustersinfo_container p{
	font-size: 24px;
    font-family: Arial;
    text-align: justify;
    margin-right: 13%;
    margin-top: 10%;
    margin-left: 5%;
	color:#C43A30;
}
.cues_clustersinfo_col{
	padding-left:0px;
    padding-right:0px;
}
.cues_clustersinfo_container h2{
	color: #978C89;
    font-family: Arial;
    text-align: right;
    margin-top: 15%;
    font-size: 100px;
}
.cues_clusters_gallery{
	background-color:#C6433D;
	margin-top: 5%;
}
.cues_clusters_gallery_container{
	width:100%;
}
.cues_clusters_gallery{
	width:100%;
}
.cues_clustersimg{
	padding-left:0px;
	padding-right:0px;
}
.cues_clusters_gallery_container img{
	width: 85%;
    float: right;
}
.cues_clusters_gallery_container h1{
	color: #FFFFFF;
    font-size: 70px;
    position: absolute;
    margin-left: 5%;
    margin-top: 5%;
}
.cues_etapas{
	width:100%;
	background-color:#EEEEEE;
	margin-top:5%;
}
.cues_etapas_container{
	width:100%;
}
.lotesImg{
margin-top:10%;

}
.cues_etapas_container img{
	width: 80%;
    margin-top: 3%;
    margin-left: 12%;
    margin-bottom:7%;
}
.cues_etapas_container h1{
	font-size: 70px;
    color:#C43A30;
    font-family: Arial;
    font-weight: 600;
    margin-left: 7%;
    margin-top: 7%;
}
.cues_etapas_container h2{
	margin-left: 7%;
    font-size: 30px;
    color: #C43A30;
    font-weight: 600;
    margin-top: 10%;
}
.cues_etapas_container p{
	margin-left: 7%;
    margin-right: 15%;
    margin-top: 4%;
    color: #C43A30;
    word-spacing: 10px;
    margin-bottom:50%;
}
/*=====Entorno=====*/

.cues_entorno{
    background: url("../img/01_Club_amb.png");
    background-size:100% 530px;
    background-repeat: no-repeat;
    height: 530px;
    width:auto;
}
.cues_entornoinfo .cues_entorno_container{
	width: 100%;
    margin-top: 0%;
}
.cues_entorno_ubicacion{
	width:100%;
}
.cues_entorUbicacion_container{
	width:100%;
	padding: 5% 5% 0% 5%;
}
.cues_ubicacionImg{
	width:100%;
}
.planoImg img{
	width: 100%;
}
.planoText p{
	font-size:18px;
	color: #C43A30;
	word-spacing:10px;
	text-align: justify;
	margin-top: 10%;
}
.cues_entorno_acceso{
	background-color:#C6433D;
	margin-top: 5%;
	width:100%;
}
.cues_entorno_acceso_container{
	width:100%;
}
.cues_entornoSlider h1{
	color: #FFFFFF;
    font-size: 60px;
    font-family: Arial;
    font-weight: 600;
    margin-bottom: 5%;
}
.cues_entorno_acceso_slider{
	padding:3% 5% 5% 5%;
}
.entorno_slider{
	width: 70%;
    margin-left: 10%;
}
.left_entorno{
	margin-left: -15%;
}
.right_entorno{
	margin-right: -15%;
}
.cues_entornoText ul{
	margin-top:32%;
}
.cues_entornoText li{
	font-size:20px;
	color:#FFFFFF;
	font-family: Arial;
	margin-bottom:3%;
}
.carousel-control.right{
	background-image: none;
}
.carousel-control.left{
	background-image: none;
}
.carousel-inner{
	height:70%;
}
.cues_entorno_eventos{
	margin-top:5%;
	margin-bottom:5%;
}
.cues_entorno_eventos_container{
	width: 100%;	
}
.cues_eventosImg{
	padding-left:0%;
	padding-right:0%; 
}
.cues_eventosImg img{
	width: 100%;
}
.cues_eventos{
	width:100%;
	padding-left:0%;
	padding-right:0%; 
}
.cues_eventosText{
	padding-left:5%;
	padding-right:5%;
}
.cues_eventosText h1{
	color: #C6433D;
    font-size: 30px;
    font-family: Arial;
    font-weight: 600;
    margin-bottom: 10%;
    text-align:center;
    margin-top:8%;
}
.cues_eventosText p{
	color: #C6433D;
    font-size: 20px;
    font-family: Arial;
    text-align:justify;
}
.cues_entorno_circuito_container{
	width:100%;
}
.cues_entorno_circuito_container img{
	width:100%;
}
.cues_entorno_circuito_container h1{
	color: #C6433D;
    font-size: 40px;
    font-family: Arial;
    font-weight: 600;
    margin-left:5%;
}
.cues_entorno_slider2{
	margin-top:5%;
	background-color:#EEEEEE;
}
.cues_entorno_slider2 p{
	color: #C6433D;
    font-size: 20px;
    font-family: Arial;
    text-align:justify;
    margin-top:5%;
}
.cues_entorno_slider2 .entorno_slider{
	margin-top: 10%;
	margin-bottom: 5%;
	margin-left: 20%;
}
.cues_entorno_slider2 .glyphicon-chevron-right{
	color:#C6433D;

}
.cues_entorno_slider2 .glyphicon-chevron-left{
	color:#C6433D;
	
}
/*=====Contacto=====*/
.cues_contacto{
    background: url("../img/AdobeStock_93040122_Preview.jpeg");
    background-size:100% 530px;
    background-repeat: no-repeat;
    height: 530px;
    width:auto;
}
.cues_clustersinfo .cues_clustersinfo_container{
	width: 100%;
    margin-top: 0%;
}
.cues_clustersinfo_container h1{
	color:#C43A30;
	font-family:Arial;
	text-align:center;
	margin-top:8%;
	font-weight:600;
}
.cues_contactCol{
	padding-left: 10%;
    padding-right: 10%;
}
.cues_direcciones_container{
	width: 100%;
	background-color: #C5BEBC;
	padding-bottom:5%;
	padding-top:5%;

}
.cues_direcciones_container img{
	width: 60%;
    margin-left: 20%;
    margin-top: -6%;
}
.cues_direcciones_container li{
	color:#ffffff;
	font-size:30px;
	margin-bottom: 8%;
}
/*====Galreria=====*/
.cues_galeria{
    background: url("../img/AdobeStock_101077810_WM.jpeg");
    background-size:100% 530px;
    background-repeat: no-repeat;
    height: 530px;
    width:auto;
}
.galeria1 img{
	width:100%;
	margin-bottom:5%;
	margin-top: 10%;
}
.galeria2 img{
	width:100%;
	margin-bottom:5%;
	margin-top: 10%;
}
.cues_galeriaImg{
	margin-top: 5%;
	background:#C5BEBC;
}
.titleGaleria{
	color: #C43A30;
	font-family:Arial;
	font-size:60px;
	margin-top:5%;
	margin-left: 10%;
}
.cues_galeriaImg p{
	color: #C6433D;
    font-size: 20px;
    font-family: Arial;
    text-align:justify;
    margin-top:5%;
}
.cues_icon a{
	text-decoration: none;
	color:#ffffff;
}